.h1Title{
    font-size: 32px;
    width: 50%;
    text-align: center;
    margin: 20px auto;
    
}

.h1Description{
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    text-align: center;
    margin: 20px auto;
    color: #c9c9c9;
    
}

.highlightText {
    color: #C71585;
}


