.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.navbarLogo{
    font-family: 'Impact', 'Arial Black', sans-serif;
}
.navbarLogo>:first-child{
    vertical-align: middle;
    margin: 0 5px;
}

.navbarLinks{
    display: flex;
    gap: 20px;
    align-items: center;
}
